#header-logos{position: relative; right: 370px; float: right; bottom: 70px; width: 80px; display: inline-flex; height: 49px;}

@media screen and (max-width:1023px) {
#header-logos {
display: none;
}
}

.home-booknow{position:relative; float: right; bottom: 40px; left: 36px; color: white; display:none;}

@media screen and (max-width:1023px) {
.home-booknow{
position:relative; float: right; bottom: 63px; left: 127px; line-height: 1.2em; color: white; display: block; font-family:nk-font; font-size: 17px;
}
}
